doctype 5
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		if title == ""
			title= "Issue Tracker"
		else 
			title= "Issue Tracker: " + title

		link(href="bootstrap/css/bootstrap.css",rel="stylesheet",media="screen")
		style
			body {
				padding-top: 60px;
			}
		
		// HTML5 shim, for IE6-8 support of HTML5 elements
		// if lt IE 9
			script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

	body
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container
					a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					
					a.brand(href="#") Issue Tracker

					div.nav-collapse.collapse
						ul.nav
							li.active: a(href="#") Home
							li: a(href="#about") About
							li: a(href="#contact") Contact
		
		block content
	
		script(src="http://code.jquery.com/jquery-latest.js")
		script(src="bootstrap/js/bootstrap.js")
